Source: libchromaprint
Priority: extra
Maintainer: Lukáš Lalinský <lalinsky@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, libavcodec-dev, libavformat-dev
Standards-Version: 3.8.4
Section: libs
Homepage: http://wiki.acoustid.org/wiki/Chromaprint

Package: libchromaprint-dev
Section: libdevel
Architecture: any
Depends: libchromaprint0 (= ${binary:Version})
Description: audio fingerprinting library
 Chromaprint is a library for calculating audio fingerprints
 which are used by the Acoustid service.

Package: libchromaprint0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: audio fingerprint library - development files
 Chromaprint is a library for calculating audio fingerprints,
 which are used by the Acoustid service.
 .
 This package includes development files needed to compile programs
 using libchromaprint.

