name: Test and package

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        fft:
        - avfft
        - fftw3
        - fftw3f
        - kissfft
    env:
      FFT_LIB: ${{ matrix.fft }}
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install yasm cmake libavcodec-dev libavformat-dev libavutil-dev \
          libavresample-dev libfftw3-dev libgtest-dev libboost-all-dev
    - name: Test with ${{ env.FFT_LIB }}
      run: |
        mkdir build.test.$FFT_LIB
        cd build.test.$FFT_LIB
        cmake -DCMAKE_BUILD_TYPE=Release -DFFT_LIB=$FFT_LIB -DBUILD_TESTS=ON -DBUILD_TOOLS=ON ..
        make VERBOSE=1
        make check VERBOSE=1

  test-macos:
    runs-on: macos-latest
    env:
      FFT_LIB: vdsp
    steps:
    - uses: actions/checkout@v1
    - name: Download googletest sources
      run: |
        git clone https://github.com/google/googletest.git "$GITHUB_WORKSPACE/googletest"
        echo "::set-env name=GTEST_ROOT::$GITHUB_WORKSPACE/googletest/googletest"
    - name: Test with ${{ env.FFT_LIB }}
      run: |
        mkdir build.test.$FFT_LIB
        cd build.test.$FFT_LIB
        cmake -DCMAKE_BUILD_TYPE=Release -DFFT_LIB=$FFT_LIB -DBUILD_TESTS=ON -DCMAKE_CXX_FLAGS='-stdlib=libc++' ..
        make VERBOSE=1
        make check VERBOSE=1

  package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
        - linux
        - windows
        arch:
        - x86_64
        - i686
    env:
      ARCH: ${{ matrix.arch }}
      OS: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install yasm cmake libavcodec-dev libavformat-dev libavutil-dev \
          libavresample-dev libfftw3-dev libgtest-dev libboost-all-dev
    - name: Install multilib dependencies
      if: matrix.arch == 'i686'
      run: sudo apt-get install gcc-multilib g++-multilib
    - name: Install Windows cross-compile dependencies
      if: matrix.os == 'windows'
      run: sudo apt-get install mingw-w64
    - name: Set TAG variable
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        echo "::set-env name=TAG::${GITHUB_REF##*/}"
    - name: Package ${{ env.ARCH }} ${{ env.OS }}
      run: |
        export BRANCH=${GITHUB_REF##*/}
        ./package/build.sh
    - name: Archive artifacts
      uses: actions/upload-artifact@v1
      with:
        name: chromaprint-${{ env.OS }}-${{ env.ARCH }}
        path: chromaprint-${{ env.OS }}-${{ env.ARCH }}/bin/